<div class="login-container">
    <i class="fa-solid fa-circle-user fa-5x center-icon" style="color: #ffffff; padding-top: 20px;"></i>

    <h2>Réinitialisation mdp</h2>
    <form (ngSubmit)="emailInit()">
        <div class="form-group">
            <input type="text" id="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Entrez votre email">
            <i class="fas fa-envelope"></i>
        </div>
        <div class="class_forgot-pass"><a class="forgot-password-link" routerLink="/login">se connecter?</a></div>
        <button class="round-button">Envoyer</button>
    </form>
</div>
<notifier-container></notifier-container>
