<app-navbar></app-navbar>
<div class="filtres">
    <label>Date début:</label>
    <input type="date" [(ngModel)]="DateDebut">

    <label>Date fin:</label>
    <input type="date" [(ngModel)]="DateFin">

    <label>Région:</label>
    <select [(ngModel)]="Region">
        <option [value]=""></option>
        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
    </select>

    <label>Vendeur:</label>
    <input type="number" min="0" [(ngModel)]="Vendeur">

    <label>
        <input type="checkbox" [(ngModel)]="CheckboxValue"> Somme Montant
    </label>

    <button class="decaler-droite" (click)="appliquerFiltres()">Appliquer</button>
</div>

<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" *ngIf="!CheckboxValue">Date</th>
                <th scope="col">Région</th>
                <th scope="col">Vendeur</th>
                <th scope="col">Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td *ngIf="!CheckboxValue">{{ item.date | date }}</td>
                <td>{{ item.region }}</td>
                <td>{{ item.vendeur }}</td>
                <td>{{ item.montant }}</td>
            </tr>
        </tbody>
    </table>
</div>