<app-navbar></app-navbar>
<table class="table table-container table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Région</th>
            <th scope="col">Vendeur</th>
            <th scope="col">Montant</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{ item.id }}</td>
            <td>{{ item.date | date }}</td>
            <td>{{ item.region }}</td>
            <td>{{ item.vendeur }}</td>
            <td>{{ item.montant }}</td>
        </tr>
    </tbody>
</table>